#bg {
    background-image: url("https://images.pexels.com/photos/1097930/pexels-photo-1097930.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size:cover ;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    background-blend-mode: multiply;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
  width: 70%;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(42, 42, 42, 0.94);
  box-sizing: border-box;
  background-color: rgb(63, 34, 75);
  color: white;
}

input:focus {
  background-color: rgb(106, 106, 106);
}

select {
  background-color: lightgray;
  width: 70%;
  padding: 10px;
  border-radius: 10px;
}

#religion1, #religion2, #religion3, #religion4 {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.form, .religion{
  margin: auto;
  padding: 8px;
  background-color: rgb(175, 175, 175);
  border-radius: 5px;
  width: 400px;
  align-items: center;
}

h1 {
  text-align: center;
}

::placeholder , option {
  color: rgb(255, 0, 0);
}

label {
  color: black;
}

input[type="submit"] {
    background-color: purple;
    width: 180px;
    display: block;
    margin: 0px auto;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: indigo;
}
